body {
  background-color: #808080;
  width: 70%;
  margin: auto;
}
header h1.title,
header h3.desc {
  text-align: center;
}
a:link {
  color: gray;
}
a:visited {
  color: black;
}
a:hover {
  color: rebeccapurple;
}
a:active {
  color: teal;
}
p {
  font-size: 110%;
  color: black;
}
#contents {
  float: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c0c0c0;
  font-family: sans-serif;
  font-size: large;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #fff;
}
footer {
  text-align: center;
}
